body{
    
    background: linear-gradient(0deg, rgb(202, 205, 34) 0%, rgba(153, 50, 32, 0.63) 86%);
    background-attachment: fixed;
    margin:0;
    font-family: 'Poppins', sans-serif;
}

#form{
    width:400px;
    margin:20vh auto 0 auto;
    margin-top: 2px;
   
    border: 1px solid white;
    border-radius: 30px;
    padding:30px;
    box-shadow: rgba(240, 117, 46, 0.4) 5px 5px,
     rgba(240, 46, 170, 0.3) 10px 10px, rgba(130, 46, 240, 0.2) 15px 15px,
      rgba(46, 240, 214, 0.1) 20px 20px, rgba(240, 46, 46, 0.856) 25px 25px;
    
    
}
#username{

    width: 350px;
    margin-left: 20px;
   margin-top: -5px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid palevioletred;

   
    opacity: 0.4;

    


}
#email{

    
    width: 350px;
    margin-left: 20px;
    margin-top: -5px;
    
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid palevioletred;

   
    opacity: 0.4;
}
#password{

    
    width: 350px;
    margin-left: 20px;
    margin-top: -5px;
    
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid palevioletred;

   
    opacity: 0.4;
}
#cpassword{

    
    width: 350px;
    margin-left: 20px;
    margin-top: -5px;
    
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid palevioletred;

   
    opacity: 0.4;
}
h1{
    text-align: center;
    color: red;
}

#form button{
    
   
    border: 1px solid white;
    box-shadow: 3px 3px 15px goldenrod inset;
    border-radius: 5px;
    background: transparent;
    padding:10px;
    margin:20px 0px;
    cursor:pointer;
    font-size:20px;
    width:100%;
    color: darkmagenta;

}

.input-group{
    display:flex;
    flex-direction: column;
    margin-bottom: 15px;

}

.input-group input{
    border-radius: 5px;
    font-size:20px;
    margin-top:5px;
    padding:10px;
    border:1px solid goldenrod;
}

.input-group input:focus{
    outline:0;
}

.input-group .error{
    color:rgb(242, 18, 18);
    font-size:16px;
    margin-top: 5px;
}

.input-group.success input{
    border-color: #0cc477;
}

.input-group.error input{
    border-color:rgb(206, 67, 67);
}
label{
    color: royalblue;
}